.DS_Store
docs/node_modules
docs/.vitepress/dist
docs/.vitepress/cache

.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.vitepress/dist
.vitepress/cache
docs/node_modules
